!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title= "#{yield(:title)} | Blogging"
    = render 'layouts/head'
  %body
    = render 'layouts/header'
    .container
      = yield
    = render 'layouts/footer'